<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/err.css}">
    <title>404</title>
</head>

<body>

<div class="c">
<!--    <h3>status: <font color="red" th:text="${status}"></font></h3>-->
<!--    <h3> message:<font color="red" th:text="${message}"></font></h3>-->
<!--    <h3>timestamp: <font color="red" th:text="${timestamp}"></font></h3>-->
    <h2>Oops ! Page not fount.</h2>
    <h1>404</h1>
    <p>We can't fond the page you're looking for</p>
    <a href="javascript:history.back(-1)">Go back </a>
</div>


</body>
</html>